.idea/
.eggs/
fire.egg-info/
**/__pycache__
**/.directory
tmp/*.*
*.*/tmp/*.*
!tmp/logs/

figures/*

.coverage
htmlcov
tests/htmlcov

**.bkup
**.log
**.log.*
**.npz
.nfs*
*.p
*.o
!test/*.p
*.nc

# docs/sphinx/build

settings/user/*
fire/scripts/calibration_images/
fire/input_files/mast/legacy_air
fire/input_files/mast/legacy_ait
fire/figures/*
fire/*.nc

requirements_freia_all.txt

# Scheduler will use this path as user directory so don't track any output put there
fire/input_files/scheduler/**
!fire/input_files/scheduler/fire_config.json

venv
env
venv_fire
fire_venv