variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GET_SOURCES_ATTEMPTS: 3

before_script:
  # - pip3 install dependencies/pyIpx/
  - export PYTHONPATH=$PWD
  - export IN_DOCKER=True

stages:
  - documentation
  - test

.my_template: &PREPARE_FREIA
    stage: test
    before_script:
    - export USER=root
    - export LOGNAME=root
    - source /etc/profile.d/modules.sh
    - module use /usr/local/modules/default
    - module unload python
    - module load python/3.7
    - module load uda
    - echo ld_library_path=$LD_LIBRARY_PATH
    - echo pythonpath=$PYTHONPATH
#    - pip install --user --upgrade pip  # breaks
    - pip install --user --upgrade setuptools pytest-cov
    - pip install --user git+https://oauth2:$AUTH_TOKEN@git.ccfe.ac.uk/SOL_Transport/pyIpx.git@ipx2_pip
    - pip install --user .
    - python setup.py test

.my_template: &PREPARE_UBUNTU
    stage: test
    before_script:
    - apt-get update -y
    - apt-get install -y git
    - apt-get install -y  python3-pip
    - pip install --user --upgrade pip setuptools
    - pip install --user pytest-cov
#    - pip install --user git+git@git.ccfe.ac.uk:SOL_Transport/pyIpx.git@ipx2_pip
#    - pip install --user git+https://gitlab-ci-token:7sHGos9smHycA5PjX3R6@git.ccfe.ac.uk:SOL_Transport/pyIpx.git@ipx2_pip
    - apt-get install -y cmake swig
    - apt-get install -y openssl libssl-dev
    - pwd
    - ls
    - cd dependencies/
    - mkdir build/
    - pwd
    - ls
    - ./make-uda-client-only.sh
    - ls
    - cd python_installer
    - pip install --user .

.my_template: &PREPARE_TESTS
    stage: test
    script:
    - pip install --user git+https://oauth2:$AUTH_TOKEN@git.ccfe.ac.uk/SOL_Transport/pyIpx.git@ipx2_pip
    - pip install --user .

.my_template: &DEPLOY
    stage: test
    before_script:
    - apt-get update -y
    - apt-get install -y git
    - apt-get install -y  python3-pip
    - pip install --user --upgrade pip setuptools
    - apt-get update
    - apt-get install -y make
    - apt-get install -y python3-sphinx
    script:
    - cd docs/sphinx/
    - make html
    - cp -r build/html ../../public
    # Docs at: https://MAST-U_Scheduler/.gitpages.ccfe.ac.uk/air

.my_template: &TEST
    stage: test
    script:
      - python setup.py test

.my_template: &TEST_FAST
    stage: test
    script:
      - pip install --user .
      - pytest tests/test_suite_fast.py

.my_template: &TEST_SLOW
    stage: test
    script:
      - pip install --user .
      - pytest tests/test_suite_slow.py

test_python3.7:
    <<: *PREPARE_UBUNTU
    <<: *PREPARE_TESTS
    <<: *TEST
    image: python:3.7-slim

test_freia:
  script:
#    - yum install python3.5-pip-python
#    - module unload python
#    - module load python/3.5
#    - yum install rh-python35
#    - mkdir yum_tmp
#    - export TMPDIR=yum_tmp
#    - yum update
#    - TMPDIR=yum_tmp yum install http://mirror.centos.org/centos/7/sclo/x86_64/rh/rh-python35/rh-python35-2.0-2.el7.x86_64.rpm
    #- rpm install -y pip
    - export USER=root
    - export LOGNAME=root
    - source /etc/profile.d/modules.sh
    - module use /usr/local/modules/default
    - module unload python
    - module load python/3.7
    - module load uda
    - echo ld_library_path=$LD_LIBRARY_PATH
    - echo pythonpath=$PYTHONPATH
#    - ls /usr/local/depot/Python-3.3.5/lib
#    - pip install --user --upgrade pip
    - pip install --user --upgrade setuptools pytest-cov
    #    - python -m run_asj 25500
    #    - python3 -m coverage run -m unittest discover -s ./tests/
    #    - python3 -m coverage report -m --include="./*"
    - pip install --user git+https://oauth2:$AUTH_TOKEN@git.ccfe.ac.uk/SOL_Transport/pyIpx.git@ipx2_pip
    - pip install --user .
    - python setup.py test
  tags:
      - freia