variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GET_SOURCES_ATTEMPTS: 3

before_script:
  # - pip3 install dependencies/pyIpx/
  - export PYTHONPATH=$PWD
  - export MODULE_PATH=$PWD
  - export IN_DOCKER=True

stages:
  - test
  - documentation

.my_template: &PREPARE_TESTING_FREIA
    stage: test
    before_script:
    - export USER=root
    - export LOGNAME=root
    - source /etc/profile.d/modules.sh
    - module use /usr/local/modules/default
    - module unload python
    - module load python/3.7
    - module load uda
    - echo ld_library_path=$LD_LIBRARY_PATH
    - echo pythonpath=$PYTHONPATH
#    - pip install --user --upgrade pip  # breaks
    - pip install --user --upgrade setuptools pytest-cov
    - pip install --user git+https://oauth2:$AUTH_TOKEN@git.ccfe.ac.uk/SOL_Transport/pyIpx.git@ipx2_pip
    - pip install --user .

.my_template: &PREPARE_TESTING_UBUNTU
    stage: test
    before_script:
    - apt-get update -y
    - apt-get install -y git
    - apt-get install -y  python3-pip
    - pip install --user --upgrade pip setuptools
    - pip install --user pytest-cov
#    - pip install --user git+git@git.ccfe.ac.uk:SOL_Transport/pyIpx.git@ipx2_pip
#    - pip install --user git+https://gitlab-ci-token:7sHGos9smHycA5PjX3R6@git.ccfe.ac.uk:SOL_Transport/pyIpx.git@ipx2_pip
    - apt-get install -y cmake swig
    - apt-get install -y libboost-dev
    - apt-get install -y openssl libssl-dev
    - pwd
    - ls
    - cd dependencies/
    - mkdir build/
    - pwd
    - ls
    - ./make-uda-client-only.sh
    - ls
    - ls build
    - ls uda-install-2.2.6
    - ls uda-install-2.2.6/lib
    - ls uda-release-2.2.6
    - ls uda-release-2.2.6/source
    - ls uda-release-2.2.6/build
    - ls
    - cd uda-install-2.2.6/python_installer
    - pip install --user .

.my_template: &PREPARE_TESTS
    stage: test
    script:
    - pip install --user git+https://oauth2:$AUTH_TOKEN@git.ccfe.ac.uk/SOL_Transport/pyIpx.git@ipx2_pip
    - pip install --user .

.my_template: &SPHINX
    stage: documentation
    before_script:
#    - apt-get update -y
#    - apt-get install -y git
    - apt-get install -y  python3-pip
#    - pip install --user --upgrade pip setuptools
    - apt-get install -y make
    - apt-get install -y python3-sphinx
    script:
    - cd docs/sphinx/
    - make html
    - cp -r build/html ../../public
    # Docs at: https://MAST-U_Scheduler/.gitpages.ccfe.ac.uk/air
    artifacts:
      paths:
      - public
    only:
    - ci



.my_template: &TEST
    stage: test
    script:
      - cd $MODULE_PATH
      - python setup.py test

.my_template: &TEST_FAST
    stage: test
    script:
      - pip install --user .
      - pytest tests/test_suite_fast.py

.my_template: &TEST_SLOW
    stage: test
    script:
      - pip install --user .
      - pytest tests/test_suite_slow.py

test_python3.7:
    <<: *PREPARE_TESTING_UBUNTU
    <<: *PREPARE_TESTS
    <<: *TEST
    image: python:3.7-slim

update_docs:
    <<: *PREPARE_TESTING_FREIA
    <<: *SPHINX
    tags:
      - freia

test_freia:
    <<: *PREPARE_TESTING_FREIA
    <<: *PREPARE_TESTS
    <<: *TEST
    tags:
      - freia