stages:
  - build
  - pages

.my_template: &FREIA_ENVIROMENT
    before_script:
      - git status
      - export USER=root
      - export LOGNAME=root
#      - source /etc/profile.d/modules.sh
#      - module use /usr/local/modules/default
      - module unload python
      - module load python/3.7
      - module load uda
      - module show uda
      - module unload vtk-7.1.0/
      - module load vtk7/3.5.1  # version required for calcam renders to work
      - module list
      - echo ld_library_path=$LD_LIBRARY_PATH
      - echo pythonpath=$PYTHONPATH
      - which pip   # tmp

setup_spinx:
    stage: build
    <<: *FREIA_ENVIROMENT
    script:
      - python -m pip install --upgrade pip setuptools
      - python -m pip install sphinx

update_docs:
    stage: pages
    script:
      - pwd
      - rm -rf public  # Delete public if already in repo
      - mkdir -p public
      - cd docs/sphinx/
      - pwd
      - make html
    artifacts:
      paths:
        - public
      when: always
      expire_in: 30 days

    tags:
      - freia
#      - ubuntu
#      - lower-privacy