before_script:
  - export PYTHONPATH=$PWD
  - export MODULE_PATH=$PWD
  - export IN_DOCKER=True
  - echo MODULE_PATH=$MODULE_PATH

stages:
  - build
  - pages

.my_template: &FREIA_SETUP
    before_script:
      - pwd
      - git status
      - export USER=root
      - export LOGNAME=root
      - ls
      - ls /etc/
#      - ls /etc/profile/
      - ls /etc/profile.d/
      - ls /usr/
      - ls /usr/share/ || true
      - ls /usr/share/Modules || true
      - ls /usr/share/Modules/init || true
      - ls /usr/share/Modules/init/csh || true
      - source /etc/profile.d/modules.sh || true
      - source /usr/share/Modules/init/csh || true
      - module use /usr/local/modules/default
      - module unload python
      - module load python/3.7
      - module load uda
      - module show uda
      - module unload vtk-7.1.0/
      - module load vtk7/3.5.1  # version required for calcam renders to work
      - module list
      - echo ld_library_path=$LD_LIBRARY_PATH
      - echo pythonpath=$PYTHONPATH
      - which pip   # tmp

.my_template: &INSTALL_PYTHON37
    before_script:
      - which python
      - which python3
      - python --version
      - python3 --version

      - apt-get update -y --fix-missing
      - apt install software-properties-common -y
      - add-apt-repository ppa:deadsnakes/ppa
      - apt-get install -y python3.7
#      - update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.7.4
      - update-alternatives --install /usr/bin/python python /usr/bin/python3 10
      - update-alternatives --config python3

      - alias python='python3.7'

      - which python
      - which python3
      - python --version
      - python3 --version

.my_template: &UBUNTU_SETUP
    before_script:
      - pwd
      - apt-get update -y --fix-missing
      - apt-get install -y git
      - apt-get install -y  python3-pip
      - apt-get install -y libsm6 libxext6 libxrender-dev   # opencv dependencies
      - apt-get install -y python3-sphinx
      - sphinx-build --version

setup_spinx:
    stage: build
    <<: *UBUNTU_SETUP
#    <<: *INSTALL_PYTHON37
#    <<: *FREIA_SETUP
    script:
      - which pip3
      - which python3
      - python3 --version
      - which pip
      - which python
      - python --version
      - python -m pip install --upgrade pip setuptools
      - python -m pip install sphinx
      - python -m pip list

update_docs:
    stage: pages
    script:
      - pwd
#      - python -m pip install --upgrade sphinx
      - rm -rf public  # Delete public if already in repo
      - mkdir -p public
      - cd docs/sphinx/
      - pwd
      - make html
    artifacts:
      paths:
        - public
      when: always
      expire_in: 30 days

    tags:
#      - freia
#      - ubuntu
#      - lower-privacy
      - python:3.7-slim
