.idea/
.eggs/
fire.egg-info/
**/__pycache__
**/.directory
tmp/

.coverage
htmlcov
tests/htmlcov

**.bkup
.nfs*
*.p
*.o
!test/*.p

docs/sphinx/build
settings/user/*
fire/scripts/calibration_images/
fire/input_files/mast/legacy_air
fire/input_files/mast/legacy_ait

requirements_freia_all.txt
