.  # Use dependencies from setup.py
# fire
# numpy>=1.20.1
# scipy==1.1.0
# opencv-python==4.0.0.21
# pandas>=1.3.1
# xarray==0.19.0
# scikit-image>=0.14.2
# netCDF4==1.4.2
# matplotlib>=3.0.2
# natsort==5.5.0
# PyQt5==5.12
# future-fstrings<=1.2.0
# pyyaml
# pytest
# pytest-arraydiff==0.3
# pytest-cov==2.8.1
# pytest-doctestplus==0.2.0
# Sphinx==1.8.2
# sphinx-rtd-theme==0.4.2
# git+https://github.com/euratom-software/calcam.git
#git+https://oauth2:$AUTH_TOKEN@git.ccfe.ac.uk/SOL_Transport/pyIpx.git@master  # Requires ukaea github access
