fire
numpy==1.15.4
scipy==1.1.0
opencv-python==4.0.0.21
pandas==0.23.4
xarray==0.12.1
scikit-image==0.14.1
netCDF4==1.4.2
matplotlib==3.0.2
natsort==5.5.0
PyQt5==5.12
pytest==4.0.2
pytest-arraydiff==0.3
pytest-cov==2.8.1
pytest-doctestplus==0.2.0
Sphinx==1.8.2
sphinx-rtd-theme==0.4.2
future-fstrings<=1.2.0
