fire
numpy==1.16.1
scipy==1.1.0
opencv-python==4.0.0.21
pandas>=1.0.0
xarray==0.12.1
scikit-image==0.16.2
netCDF4==1.4.2
matplotlib==3.0.2
natsort==5.5.0
PyQt5==5.12
pytest
pytest-arraydiff==0.3
pytest-cov==2.8.1
pytest-doctestplus==0.2.0
Sphinx==1.8.2
sphinx-rtd-theme==0.4.2
future-fstrings<=1.2.0
